{% extends "combat/sub_nav.html" %}

{% block li_dashboard_att %}active{% endblock %}

{% block head2 %}
{% endblock %}

{% block content2 %}

<script>
// When the user clicks on div, open the popup
function getRollSim(id, count, die, mod) {
    document.getElementById(id).innerHTML = "loading...";
    <!--ajax to get roll sim-->
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById(id).innerHTML =
          this.responseText;
        }
    };
  xhttp.open("GET", "/roller?count=" + count + "&die=" + die + "&mod=" + mod, true);
  xhttp.send();

    var popup = document.getElementById(id);
    popup.classList.toggle("show");
}
</script>
<script>
<!--axaj to get monster details-->
function loadDescript(text) {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("monsterinfo").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", "/monsters/deets?name="+text, true);
  xhttp.send();
}
</script>

<br>
<div class="sticky">
    <table width="100%" border="0">
        <tr>
            <td align="center">
                <table>
                    <tr><td>
                        Round {{round}}, Turn {{turn}}, ({{time | safe}})
                        <button type="button" onclick="location.href='/combat/advance?direction=-1'"><</button>
                        <button type="button" onclick="location.href='/combat/advance?direction=1'">></button>
                    </td></tr>
                    <tr><td>
                        <button type="button" onclick="location.href='/combat/reset'">Reset</button>
                    </td></tr>
                </table>
            </td>
            <td align="center">
                <form action="/combat/change_hp">
                    Log Damage:
                    <br><input list="npcs" name="name" placeholder="against NPC...">
                        <datalist id="npcs">
                            {{npc_options | safe}}
                        </datalist>
                    <br><input type="number" name="decrease" placeholder="amount...">
                    <br> <input type="checkbox" name="resistance" value="resistance"> Apply Resistance
                    <input type="submit">
                </form>
            </td>
            <td align="center">
                <form action="/combat/change_hp">
                    Log Healing:
                    <br><input list="npcs" name="name" placeholder="for NPC...">
                        <datalist id="npcs2">
                            {{npc_options | safe}}
                        </datalist>
                    <br><input type="number" name="increase" placeholder="amount...">
                    <br><input type="submit">
                </form>
            </td>
        </tr>
    </table>

</div>

<br>
<table align="center">
    <tr>
        <td align="center">{{table | safe}}</td>
    </tr>
    <tr>
        <td><div id="monsterinfo">{{deets | safe}}</div></td>
    </tr>
</table>

{% endblock %}