<!--{% extends "combat/sub_nav.html" %}-->

<!--{% block li_player_view_att %}active{% endblock %}-->

<!--{% block head2 %}-->

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dndd/style.css' %}">
<script type="text/javascript">
    function getTable() {
        <!--ajax to get roll sim-->
        if (document.hasFocus()) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                  document.getElementById("player_view_content").innerHTML =
                  this.responseText;
                }
            };
            xhttp.open("GET", "/combat/player_view_table", true);
            xhttp.send();
        }
        setTimeout(getTable,2000);
    }
    getTable();
</script>
<!--{% endblock %}-->

<!--{% block content2 %}-->



<div id="player_view_content"></div>
<!--{% endblock %}-->