{% extends "combat/sub_nav.html" %}

{% block li_setup_att %}active{% endblock %}

{% block head2 %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the controls package.
      google.charts.load('current', {'packages':['corechart', 'controls', 'table']});
      google.charts.setOnLoadCallback(drawTables);

      function drawTables() {
        // Create our data tables.
        var pc_data = new google.visualization.arrayToDataTable([
            {{ pcs_columns|safe }},
            {{ pcs_rows|safe }}
        ]);
        var npc_data = new google.visualization.arrayToDataTable([
            {{ npcs_columns|safe }},
            {{ npcs_rows|safe }}
        ]);

        // Create table options
        var options = {
            'width': '600',
            <!--'height': 500,-->
            'allowHtml': true,
            'showRowNumber': true,
        };

        var pc_table = new google.visualization.Table(document.getElementById('pc_table_div'));
        var npc_table = new google.visualization.Table(document.getElementById('npc_table_div'));
        pc_table.draw(pc_data, options);
        npc_table.draw(npc_data, options);
      }

    </script>
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content2 %}

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div id="modal" class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

// When the user clicks on div, open the popup
function getRollSim(id, count, die, mod) {
    <!--ajax to get roll sim-->
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById(id).innerHTML =
          this.responseText;
        }
    };
  xhttp.open("GET", "/roller?count=" + count + "&die=" + die + "&mod=" + mod, true);
  xhttp.send();

    var popup = document.getElementById(id);
    popup.classList.toggle("show");
}
</script>
<script>
<!--axaj to get monster details-->
function loadDescript(text) {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("modal").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", "/monsters/deets?name="+text, true);
  xhttp.send();
  modal.style.display = "block";
}
</script>

<h1>Build Encounter</h1>

<div id="pc_div" style="background-color: #e3ebed;">
    <h2>Player-Controlled Combatants</h2>

    <table align="center">
        <tr><td><div id="pc_table_div"></div></td></tr>
    </table>

    <form action="/combat/add_pc">
        <table align="center">
            <tr>
                <td> Add PC character by name: </td>
                <td>
                    <input list="pcs" name="pc">
                    <datalist id="pcs">
                        {{pc_options | safe}}
                    </datalist>
                    <input type="submit">
                </td>
            </tr>
        </table>
    </form>

    <div>
        <table align="center">
            <tr>
                <td colspan="2">XP Budget:</td>
            </tr>
            <tr><td>Easy</td><td>{{easy_xp | safe}}</td></tr>
            <tr><td>Moderate</td><td>{{moderate_xp | safe}}</td></tr>
            <tr><td>Challenging</td><td>{{challenging_xp | safe}}</td></tr>
            <tr><td>Hard</td><td>{{hard_xp | safe}}</td></tr>
            <tr><td>Deadly</td><td>{{deadly_xp | safe}}</td></tr>
        </table>
    </div>
</div>

<br>

<div id="npc_div" style="background-color: #e3e3ed;">
    <h2>Monsters</h2>

    <table align="center">
        <tr><td><div id="npc_table_div"></div></td></tr>
    </table>

    <form action="/combat/add_npc">
        <table align="center">
            <tr>
                <td> Add NPC by name: </td>
                <td>
                    <input list="npcs" name="npc">
                    <datalist id="npcs">
                        {{npc_options | safe}}
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>Assign a (unique) display name</td>
                <td>
                    <input type="text" name="display_name">
                </td>
            </tr>
            <tr><td></td><td><input type="submit"></td></tr>
        </table>
    </form>

    <div>
        <table align="center">
            <tr>
                <td>Total XP:</td><td>{{totalxp | safe}}</td>
            </tr>
            <tr>
                <td>Max CR:</td><td>{{maxcr | safe}}</td>
            </tr>
            <tr>
                <td>Encounter Difficulty:</td><td>{{difficulty | safe}}</td>
            </tr>
        </table>
    </div>

    <h3>Generate Random Encounter</h3>
    <form action="/combat/randomize" method="get">
        <table align="center">
            <tr>
                <td>Clear current NPCs first</td>
                <td><input type="checkbox" name="clear_existing" value="True"></td>
            </tr>
            <tr>
                <td>Max challenge rating:</td>
                <td>
                    <input list="crs" name="max_cr">
                    <datalist id="crs">
                        {{cr_options | safe}}
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>XP total: </td>
                <td><input type="number" name="total_xp"></td>
            </tr>
            <tr><td></td><td><input type="submit" value="Submit"></td></tr>
        </table>
    </form>

</div>



{% endblock %}