<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dndd/style.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>

<ul class="nav1">
  <li class="nav1"><a class="{% block li_monsters_att %}{% endblock %} nav1" href="/monsters">Monsters</a></li>
  <li class="nav1"><a class="{% block li_players_att %}{% endblock %} nav1" href="/players">Players</a></li>
  <li class="nav1"><a class="{% block li_combat_att %}{% endblock %} nav1" href="/combat">Combat</a></li>
</ul>
{% block content %}
{% endblock %}

</body>
</html>

