/* nav1 bar */
ul.nav1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e3e7ed;
}

li.nav1 {
    float: left;
}

li a.nav1 {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.nav1:hover:not(.active) {
    background-color: #cdd2d8;
}


/* nav2 bar */
ul.nav2 {
    list-style-type: none;
    margin: 1;
    padding: 0;
    overflow: hidden;
    background-color: #f2f4f7;
}

li.nav2 {
    float: left;
}

li a.nav2 {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.nav2:hover:not(.active) {
    background-color: #cdd2d8;
}


.active {
    background-color: #d0dff2;
}

h1 {
    text-align: center;
}