{% extends "monsters/sub_nav.html" %}

{% block li_browse_att %}active{% endblock %}

{% block head2 %}

    <style>
    body {font-family: Arial, Helvetica, sans-serif;}

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    </style>
{% endblock %}

{% block content2 %}
  <h1>Monsters</h1>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div id="modal" class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>


<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

// When the user clicks on div, open the popup
function getRollSim(id, count, die, mod) {
    <!--ajax to get roll sim-->
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById(id).innerHTML =
          this.responseText;
        }
    };
  xhttp.open("GET", "/roller?count=" + count + "&die=" + die + "&mod=" + mod, true);
  xhttp.send();

    var popup = document.getElementById(id);
    popup.classList.toggle("show");
}
</script>
<script>
<!--axaj to get monster details-->
function loadDescript(text) {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("modal").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", "/monsters/deets?name="+text, true);
  xhttp.send();
  modal.style.display = "block";
}
</script>
<script>
    function searchNames() {

      // Declare variables
      var input, nameFilter, table, tr, td, i;
      input = document.getElementById("nameInput");
      cr_input = document.getElementById("crInput");
      nameFilter = input.value.toUpperCase();

      if (cr_input.value=="") {
        crFilter = 1000;
      } else {
        crFilter = Number(cr_input.value);
      }

      table = document.getElementsByClassName("datatable")[0];

      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        name_td = tr[i].getElementsByTagName("td")[0];
        cr_td = tr[i].getElementsByTagName("td")[5];

        if (name_td){
            if (cr_td) {
              if ((name_td.innerHTML.toUpperCase().indexOf(nameFilter) > -1) &
                  (Number(cr_td.innerHTML) <= crFilter)
                  ) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
        }
      }
    }

</script>

  <div id="dashboard_div" style="width: 90%; align: center; margin:0 auto; display: block">
      <!--Divs that will hold each control and chart-->
      <div style="width: 100%; align: center; margin:0 auto; display: block">
        <table>
          <tr>
            <td style="width: 50%"><div id="name_filter_div" style="float: left;">
                <input type="text" id="nameInput" onkeyup="searchNames()" placeholder="filter by name...">
            </div></td>
            <td style="width: 50%"><div id="cr_filter_div" style="float: right;">
                <input id="crInput" list="crs" name="cr" onchange="searchNames()" placeholder="filter by max CR...">
                    <datalist id="crs">
                        {{cr_options | safe}}
                    </datalist>
            </div></td>
          </tr>
            <tr><td colspan="2" id="tableDiv">
                        {{table | safe}}
            </td></tr>
        </table>
      </div>
  </div>

{% endblock %}
